<h3>{{sensor.getName()}}</h3>
<h3>{{sensor.a}}</h3>

<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">name: </label>
        <input type="text" class="form-control" id="name"
            required
            [(ngModel)]="sensor.name" name="name">
    </div>

    <div class="form-group">
        <label for="a">a: </label>
        <input type="text" class="form-control" id="a"
            required
            [(ngModel)]="sensor.a" name="a">
    </div>

    <div class="form-group">
        <label for="b">b: </label>
        <input type="text" class="form-control" id="b"
            required
            [(ngModel)]="sensor.b" name="b">
    </div>

</form>

